<div class="container mt-3 mb-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Version</th>
        <th scope="col">Changed</th>
        <th scope="col">Color</th>
        <th scope="col">Kilometrs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.model.brand.name}}</td>
        <td>{{car.model.name}}</td>
        <td>{{car.version}}</td>

        <td *ngIf="car.changed">Automatic</td>
        <td *ngIf="!car.changed">Manual</td>
        <td>{{car.color}}</td>
        <td>{{car.km}} km</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mb-5">
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="brandSelected"><b>Brand:</b></label>
          <select name="brandSelected" id="brandSelected" class="form-control"
          [(ngModel)]="brandSelected" (change)="onChangeBrand()">
            <option [ngValue]="null" selected>Choose brand</option>
            <option [ngValue]="brand" *ngFor="let brand of brands">{{brand.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="model"><b>Model:</b></label>
          <select *ngIf="!brandSelected" name="model" id="model" class="form-control" disabled>
            <option value="''" selected></option>
          </select>

          <select *ngIf="brandSelected" name="model" id="model" class="form-control"
          [(ngModel)]="searchRequest.model" (change)="getCars()">
            <option [ngValue]="''" selected>Choose model</option>
            <option [ngValue]="model.name" *ngFor="let model of brandSelected.models">{{model.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="version"><b>Version:</b></label>
          <div class="input-group">
            <button class="btn btn-outline-danger" (click)="clearVersion()"
            [disabled]="!searchRequest.version">Clear</button>
            <input type="text" name="version" id="version" class="form-control mr-1 ml-1" [(ngModel)]="searchRequest.version">
            <button class="btn btn-outline-success" (click)="getCars()"
            [disabled]="!searchRequest.version">Filter</button>
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="kmFrom"><b>KmFrom:</b></label>
          <div class="input-group">
            <button class="btn btn-outline-danger" (click)="clearKmFrom()"
            [disabled]="!searchRequest.kmFrom">Clear</button>
            <input type="text" name="kmFrom" id="kmFrom" class="form-control"
            [(ngModel)]="searchRequest.kmFrom">
            <button class="btn btn-outline-success" (click)="getCars()"
            [disabled]="!searchRequest.kmFrom">Filter</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="kmTo"><b>KmTo:</b></label>
          <div class="input-group">
            <button class="btn btn-outline-danger" (click)="clearKmTo()"
            [disabled]="!searchRequest.kmTo">Clear</button>
            <input type="text" name="kmTo" id="kmTo" class="form-control"
            [(ngModel)]="searchRequest.kmTo">
            <button class="btn btn-outline-success" (click)="getCars()"
            [disabled]="!searchRequest.kmTo">Filter</button>
          </div>
        </div>
      </div>

      <div class="col">
          <label for="changed"><b>Changed:</b></label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="chanded" id="changed" checked
              [value]="''" [(ngModel)]="searchRequest.changed" (change)="getCars()">All
            </label>
            &nbsp;
            <label class="radio-inline">
              <input type="radio" name="chanded" id="changed"
              [value]="false" [(ngModel)]="searchRequest.changed" (change)="getCars()">Manual
            </label>
            &nbsp;
            <label class="radio-inline">
              <input type="radio" name="chanded" id="changed"
              [value]="true" [(ngModel)]="searchRequest.changed" (change)="getCars()">Automatic
            </label>
            &nbsp;
          </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="color"><b>Color:</b></label>
          <select name="color" id="color" class="form-control" [(ngModel)]="searchRequest.color" (change)="getCars()">
            <option value="">Choose color</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="grey">Grey</option>
          </select>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <label for="reset"><b>Reset:</b></label>
        <button (click)="clear()" 
        class="btn btn-outline-danger form-control">
          Clear filters
        </button>
      </div>
    </div>
  </form>
</div>